<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <title>Calculate islands count</title>
    <style type="text/css">
        TABLE {
            width: 300px;
            border-collapse: collapse;
        }
        TD, TH {
            padding: 3px;
            border: 1px solid black;
        }
        TH {
            background: #b0e0e6;
        }
    </style>
</head>
<body>
    <table>
        <tr th:each="i: ${massive}">
            <td th:each="j: ${i}">
                <span th:text="${j}"></span >
            </td>
        <tr>
    </table>
    <h1 th:text="${count}"></h1>
</body>
</html>